<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tareas</title>
  </head>
  <body>
    <h1>TAREAS</h1>
    <ul>
      <% tasks.forEach((tarea, idx)=>{ %>
      <li><strong><%= tarea.title %>:</strong> <%= tarea.description%></li>
      <% }) %>
    </ul>

    <form method="post" action="/api/tasks">
      <input type="text" name="title" required />
      <input type="text" name="description" required />
      <button type="submit">CREAR</button>
    </form>

  </body>
</html>
